<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/stylelogin.css">
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
</head>

<body class="light-theme">
    <header>
        <div class="container">
            <nav class="navbar">
                <div class="flex-wrapper">
                    <ul class="desktop-nav">
                        <li><a href="/AuthurHome" class="nav-link">Profile</a></li>
                        <li><a href="/AuthurHome/PaperSearchAuthur" class="nav-link">Papers</a></li>
                        <li><a href="/AuthurHome/CreatePaper" class="nav-link">Create Paper</a></li>
                        <li><a href="#contact" class="nav-link">Contact</a></li>
                    </ul>
                    <a href="/" class="button1">
                        <h1>Logout</h1>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- /AuthurHome/PaperSearchAuthur/Update_Paper -->
        <form action="/adminhome/ViewProfile/UpdateProfile" method="post">
            <div class="form-wrapper">
                <img src="/images/Author.jpg" alt="Descriptive image text" class="form-image">
                <div class="form-container">
                    <h2>Update Profile</h2>
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="text" value="<%= listProfile.employeeId %>" name="employeeId" placeholder="Enter your ID"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" value="<%= listProfile.name %>" name="name" placeholder="Enter your name"
                            required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" value="<%= listProfile.dob %>" name="dob"
                            placeholder="Enter your date of birth" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="text" value="<%= listProfile.gender %>" name="gender"
                            placeholder="Enter your gender" required>
                    </div>
                    <div class="form-group">
                        <label for="citizen_id">Citizen ID:</label>
                        <input type="text" value="<%= listProfile.citizenId %>" name="citizen_id"
                            placeholder="Enter your citizen ID" required>
                    </div>
                    <div class="form-group">
                        <label for="tax_code">Tax Code:</label>
                        <input type="text" value="<%= listProfile.taxCode %>" name="tax_code"
                            placeholder="Enter your tax code" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" value="<%= listProfile.address %>" name="address"
                            placeholder="Enter your address" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" value="<%= listProfile.phone %>" name="phone"
                            placeholder="Enter your phone number" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" value="<%= listProfile.email %>" name="email"
                            placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="bank_account">Bank Account:</label>
                        <input type="text" value="<%= listProfile.bankAccount %>" name="bank_account"
                            placeholder="Enter your bank account number" required>
                    </div>

                    <button type="submit" class="submit-btn">Update Profile</button>
                </div>
                <a href="/" class="icon-box">
                    <span class="icon_close"><i class="fa fa-times close-btn" aria-hidden="true"></i></span>
                </a>
            </div>
        </form>

    </main>
</body>

</html>