<h1>
    <%= JSON.stringify() %>
</h1>
<% if (listUser && listUser.length> 0) { %>
    <table id="paperTable" class="fl-table">
        <thead>
            
        </thead>
        <tbody>
            <% listUser.forEach(function(User) { %>
                <tr>
                    <td>
                        <%= User.id %>
                    </td>
                    <td>
                        <%= User.employeeId %>
                    </td>
                    <td>
                        <%= User.name %>
                    </td>
                    <td>
                        <%= User.dob %>
                    </td>
                    <td>
                        <%= User.gender %>
                    </td>
                    <td>
                        <%= User.citizenId %>
                    </td>
                    <td>
                        <%= User.taxCode %>
                    </td>
                    <td>
                        <%= User.address %>
                    </td>
                    <td>
                        <%= User.phone %>
                    </td>
                    <td>
                        <%= User.email %>
                    </td>
                    <td>
                        <%= User.bankAccount %>
                    </td>
                    <td>
                        <a href="/adminhome/ViewProfile/SearchUser/<%= user.id %>" class="button">
                            <button>Edit</button>
                        </a>
    
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <p>No papers found.</p>
        <% } %>